<h1>Listing clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>Bands</th>
      <th>Date</th>
      <th>Days Until Play</th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.street_address %></td>
        <td><% club.bands.each do |g| %>
              <%= "#{g.name}" %>
          <% end %>

        </td>
        <td><% club.bookings.each do |g| %>
              <%= "#{g.date}" %>
          <% end %>
        </td>
        <td><% club.bookings.each do |g| %>
              <%= "#{(DateTime.parse("#{g.date}") - DateTime.now).to_i}" %>
          <% end %>

        </td>

        <td><%= link_to 'Show', club %></td>
        <td><%= link_to 'Edit', edit_club_path(club) %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
