ss<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>
</p>
<p>
  <strong>Band Name: </strong>
  <% @club.bands.each do |g| %>
      <%= "#{g.name}" %>
  <% end %>
</p>
<p>
  <strong>Booking Date:</strong>
<% @club.bookings.each do |g| %>
      <%= "#{g.date}" %>
  <% end %>
</p>
<p>
  <strong> Date Left</strong>
<% @club.bookings.each do |g| %>
      <%= "#{(DateTime.parse("#{g.date}") - DateTime.now).to_i}" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
