<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Band</th>
      <th>Club</th>
      <th>Fee</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.band.name %></td>
        <td><%= booking.club.name %></td>
        <td><%= booking.fee %></td>
        <td><%= booking.date %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
