<h1>Listing bands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Num members</th>
      <th>Tour Location</th>
      <th>Tour Date</th>
      <th>Booking Fee</th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= band.num_members %></td>
        <td><% band.clubs.each do |q| %>
              <%=" #{q.name}" %>
              <% end %>
        </td>
        <td><% band.bookings.each do |g| %>
              <%= "#{g.date}" %>
              <% end %>

        </td>
        <td><% band.bookings.each do |g| %>
              <%= "#{g.fee}" %>
          <% end %>

        </td>
        <td><%= link_to 'Show', band %></td>
        <td><%= link_to 'Edit', edit_band_path(band) %></td>
        <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band', new_band_path %>
