<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Num members:</strong>
  <%= @band.num_members %>
</p>

<p>
  <strong>Tour Location:</strong>
  <% @band.clubs.each do |q| %>
      <%=" #{q.name}" %>
  <% end %>
</p>
<p>
   <strong>Tour Date: </strong>
<% @band.bookings.each do |g| %>
      <%= "#{g.date}" %>
  <% end %>
</p>
<p>
    <strong>Booking Fee: </strong>
    <% @band.bookings.each do |g| %>
      <%= "#{g.fee}" %>
  <% end %>
</p>
<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
